@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 40px;
}

.firstPage {
    height: 100vh;
    display: flex;
    margin-left: 5%;
}


.firstPage > .left {
    width: 50%;
    justify-content: center;
    align-items: left;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    letter-spacing: .2px;
    height: 100vh;
    padding-left: 200px;
}

.firstPage > .left > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    padding-bottom: 0;
    margin-bottom: .5em;
    margin-top: 0;
}

.firstPage > .left > .sub {
    font-size: 2em;
    color: rgba(0, 0, 0, .7);
}


.right {
    width: 50%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.oneCover {
    width: 100%;
    object-fit: revert;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: .3s opacity ease;
}

.cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 5px gray;
    text-align: right;
    background-size: cover;
    background-position: center;
    aspect-ratio: 600/900;
    justify-content: center;
}

.oneCover > a {
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    width: auto;
    color: black;
}

.directLink {
    color: rgba(0, 0, 0, .5);
    font-family: "Poppins", sans-serif;
    word-wrap: break-word;
}

nav {
    display: flex; 
    width: 100%;
    height: 75px;
    align-items: center;
    gap: 45px;
    border-bottom: 1px #BABABA solid;
}

nav > div {
    display: block;
}

nav > span {
    font-size: 40px;
    color: #4E4E4E;
    padding-left: 40px;
}

nav > .seperator {
    width: 3px;
    height: 60%;
    border-radius: 2px;
    background-color: #4E4E4E;
}

nav > .navigations {
    height: 100%;
    display: flex; 
    align-items: center;
    gap: 100px;
}

nav > .navigations > a {
    height: 60%;
    display: block;
    font-size: 35px;
    color: #4E4E4E;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav > .navigations > a {
    transform: scale(1);
    transition: filter ease .3s, transform ease .3s;
}

nav > .navigations > a:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .6));
    transform: scale(1.1);
}


.mainContent {
    width: 100%;
    height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

.header {
    height: 10vh;
    position: relative;
}

.header > h1 {
    margin: 0;

}


button {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    margin-right: 40px;
    transition: background-color ease .3s;
    transition: all ease .3s;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button:disabled {
    background-color: #4b6ea1;
}

button:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    button {
        padding: 16px 44px;
        min-width: 150px;
    }
} 

button > i {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: auto;
    aspect-ratio: 1;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.info {
    background-color: #4E4E4E;
    width: 50%;
    color: white;
    padding: 25px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 25px;
    opacity: 1;
    transition: opacity ease .6s;
    transition-delay: 2s;
}

.info > h2 {
    margin: 0;
    font-size: 35px;
}

.info > p {
    font-size: 25px;
}

form {
    margin: 0;
}

.invisible {
    opacity: 0;
}